html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    text-align: center;

}

#input-field {
    height: 118px;
    margin-bottom: 13px;
    text-align
}

#post-button {
    height: 50px;
    margin-bottom: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: aquamarine;
    margin-bottom: 13px;
}

textarea {
    resize: none;
  }
